Makefile
Makefile.in
aclocal.m4
autom4te.cache/
cfg/Makefile
cfg/Makefile.in
cfg/compile
cfg/config.guess
cfg/config.h
cfg/config.h.in
cfg/config.sub
cfg/depcomp
cfg/install-sh
cfg/libtool.m4
cfg/ltmain.sh
cfg/ltoptions.m4
cfg/ltsugar.m4
cfg/ltversion.m4
cfg/lt~obsolete.m4
cfg/missing
cfg/stamp-h1
config.log
config.status
configure
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/libypdd-elce2018-example.la
lib/libypdd-elce2018-example.lo
lib/libypdd-elce2018-example.o
libtool
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/ypdd-elce2018-example
src/ypdd_elce2018_example-ypdd-elce2018-example.o
ypdd-elce2018-example-clean*tar.bz2
